html,
body,
#root {
    min-height: 100vh;
}

form { margin-bottom: 30px; }

.results h1 { margin-top: 0; }

.results select { margin-bottom: 15px; }

.thumbnail {
    position: relative;
    padding-bottom: 140%;
    overflow: hidden;
    height: 0;
    background: #ddd;
}

.result-card button {
    margin-bottom: 15px;
}

.thumbnail img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    min-width: 100%;
}

.result-card p {
    height: 40px;
    overflow: hidden;
}

.no-results {
	text-align: center;
}